[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <title>Zephyr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ [
            'assets/css/theme.css',
            'assets/vendor/semantic-ui/semantic.css',
            '@framework.extras'
        ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        {% page %}

        <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=true"></script>
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/semantic-ui/semantic.js',
            'assets/vendor/gmaps/gmaps.js',
            '@framework',
            '@framework.extras',
            'assets/javascript/app.js',
            'assets/javascript/form-tools.js'
        ]|theme }}"></script>
        {% scripts %}
    </body>
</html>