<i class="close icon" data-dismiss="modal"></i>
<div class="header">

    <span>
        I have something I want to
        <div class="ui inline dropdown" data-control="dropdown">
            <div class="text">sell</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-text="sell">Sell</div>
                <div class="item" data-text="buy">Buy</div>
            </div>
        </div>
    </span>

</div>

{{ form_ajax('onPostAd', {
    id: 'postAdForm',
    class: 'ui form content',
    'data-attach-loading': 1
}) }}

    <div class="image">
        {% component 'imageUploader' %}
    </div>

    <div class="description">

        <div class="field">
            <label>Ad title</label>
            <input type="text" name="Post[title]" value="" />
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="Post[details]"></textarea>
        </div>

        <div class="field">
            <label for="specificLocation">Your public location</label>
            <input
                type="text"
                name="Post[address]"
                class="form-control input-lg"
                value=""
                id="specificLocation"
                placeholder="Enter your address or a nearby address"
                data-control="locationAutocomplete"
                data-input-street="#locationStreet"
                data-input-city="#locationCity"
                data-input-state="#locationState"
                data-input-zip="#locationZip"
                data-input-country="#locationCountry"
                data-input-latitude="#locationLatitude"
                data-input-longitude="#locationLongitude"
                />
        </div>

        <div style="display: none">
            <input type="text" name="Post[latitude]" value="" id="locationLatitude" />
            <input type="text" name="Post[longitude]" value="" id="locationLongitude" />
            <input type="text" name="Post[city]" value="" id="locationCity" />
            <input type="text" name="Post[zip]" value="" id="locationZip" />
            <input type="text" name="Post[state_code]" value="" id="locationState" />
            <input type="text" name="Post[country_code]" value="" id="locationCountry" />
        </div>

    </div>

{{ form_close() }}

<div class="actions">
    <button class="ui button" data-dismiss="modal">Cancel</button>
    <button class="ui positive button" onclick="$('#postAdForm').submit()">Post Ad!</button>
</div>
